    .container {
      max-width: 850px;
      margin: 0 auto;
    }
    .examples {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
    }
    h1, h2, h3, h4, h5, h6 {
      text-align: center;
      text-decoration: underline;
      margin: 2rem auto;
    }
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2.5rem;
      margin-block-start: 10rem;
    }
    h3 {
      font-size: 2rem;
    }
    h4 {
      font-size: 1.5rem;
    }
    p {
      text-align: center;
    }
    code {
      background-color: #ffecef;
      padding: 5px;
    }
    table.charts-css {
      background-color: #f8f8f8;
    }
    table.charts-css.stacked td {
      --color-1: rgba(0, 200, 100, 0.5);
      --color-2: rgba(255, 150, 0, 0.5);
      --color-3: rgba(255, 50, 50, 0.5);
    }